.hero-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero-left{
    width: 50%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;



}
.hero-left h1{
color: orange;
font-size: 3.5rem;
margin-bottom: 0;
}
.hero-left p{
    font-size: 1.2rem;
}
.hero-left button{
    width: 220px;
    border: none;
    padding: 1rem;
    background-color: orange;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
@media (max-width:768px){
    .hero-container{
        width: 100%;
        flex-direction: column;
    }
    .hero-left{
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .hero-left h1{
        font-size: 2rem;
    }
    .hero-right img{
        width: 90%;
        margin: auto;
    }
}