.login-container{
    width: 100%;
    height: 100vh;
    display: flex;

}

.login-content{
    width: 23%;
    margin: auto;
    height: 360px;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.login-form{
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-form label{
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #292828;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
    padding-left: 10px;

}
.login-form label input{
    width: 98%;
    margin: 10px;
    padding: 0.3rem;
    border: none;
    background-color: transparent;
}
.login-form label input:focus{
    background: transparent;
    outline: none;
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.2);
    border-radius: 5px;
}
.login-form button{
    border: none;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
}